#title {
    background-color: #ff4c68;
    position: relative;
}

#title .im {
    position: relative;
    bottom: 3px;
}

.container-fluid {
    padding: 3% 15%;
}

body h1 {
    font-family: 'Montserrat Black';
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

.mock {
    transform: rotate(30deg);
    width: 250px;
    margin: 0px 0px 0px 150px;
}

body {
    font-family: 'Montserrat';

}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar {
    padding: 0px 0px 4.5rem 0px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat Light";
}

.down-btn {
    margin: 5% 3% 5% 0;
}



#features {
    padding: 50px 100px;
}

#features svg {
    color: #ef8172;
    margin: 10px;
}

#features svg:hover {
    color: #ff4c68;
}

#features p {
    color: #8f8f8f;
}

#features h3 {
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: bold;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#testimonials h2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#testimonials .carousel-item{
    padding: 7% 13%;

}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
 width: 15%;
    margin: 50px 20px 50px;
}

